.card {
    border: var(--border-color) solid 2px;
    border-radius: 1rem;

    width: fit-content;
    padding: 1rem;

    transition: 1s;
}

.card.darkMode {
    border: var(--border-color-dark) solid 2px;
}