:root {
  --background-color: #f1f2f3;
  --background-color-dark: #050607;
  --border-color: black;
  --border-color-dark: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--background-color-dark);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body.darkMode {
  background-color: var(--background-color-dark);
  color: var(--background-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.card {
  border: var(--border-color) solid 2px;
  border-radius: 1rem;

  width: fit-content;
  padding: 1rem;
}

.card.darkMode {
  border: var(--border-color-dark) solid 2px;
}

#signup-card {
  width: 25%;
}

.signup {
  margin: 2rem;
}

.signup-title {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(0,0,0,0.6);
  text-underline-offset: 5px;
  word-spacing: 5px;
  letter-spacing: 1px;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
}

.submit {
  font-size: 1.1rem;

  padding: 0.5rem;

  opacity: 0.7;
  background-color: cyan;
  border: none;
  border-radius: 5px;

  transition: 0.2s;
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.text-div {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0.5rem 0;
}

.text {
  margin-right: 5px;
}

a {
  color: #0279D3;
}

a:hover {
  cursor: pointer;
}