:root {
  --background-color: #f1f2f3;
  --background-color-dark: #050607;
  --border-color: black;
  --border-color-dark: white;

  --underline-color: rgba(0,0,0,0.6);
  --underline-color-dark: rgba(255,255,255,0.6);

  --button-color: cyan;
  --button-dark-color: cyan;

  --link-color: #0279D3;

  --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--background-color-dark);
  font-family: var(--font-family);

  overflow: hidden;
}

body.darkMode {
  background-color: var(--background-color-dark);
  color: var(--background-color);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

#signup-card {
  width: 300px;
}