:root {
    --placeholder-animation: scale(0.9) translateX(-1.2rem) translateY(-2rem);

    --input-color: black;
    --input-color-dark: white;
    --input-background-color: white;
    --input-background-color-dark: #7f7e7e;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    bottom: 2rem;
    left: 0.5rem;

    transition: 0.3s;
}

input {
    position: relative;
    margin: 5px 0;
    padding: 5px;
    box-sizing: border-box;

    width: 100%;

    font-size: 1.1rem;
    line-height: 1.5rem;
    color: var(--input-color);

    background-color: var(--input-background-color);
    border: 1px var(--input-color) solid;
    border-radius: 5px;
}

input.dark {
    background-color: var(--input-background-color-dark);
    color: var(--input-color-dark); 

    border: 1px var(--input-color-dark) solid;
}

input:focus {
    outline: none;
}

input:focus + label {
    display: block;
    position: relative;

    transform: var(--placeholder-animation);
}

input:valid + label {
    display: block;
    position: relative;

    transform: var(--placeholder-animation);
}

.eye {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
    margin-bottom: -1.25rem;

    position: relative;
    float: right;
    bottom: 3.25rem;

    z-index: 2;
}

.eye:hover {
    cursor: pointer;
}

.eye img {
    width: 100%;
    height: 100%;
}

.eye img.dark {
    display: none;
}

.hidden {
    display: none;
}

.error-msg {
    color: red;
    font-size: 0.8rem;

    position: relative;
    bottom: 0.5rem;
}